@font-face {
    font-family: "Flow";
    src: url("../resources/fonts/Flow.ttf");
}

@font-face {
    font-family: "Brannboll";
    src: url("../resources/fonts/BrannbollFS.ttf");
}

@font-face {
    font-family: "JosefinSans";
    src: url("../resources/fonts/JosefinSans.ttf");
}

@media only screen and (max-width: 550px) {
    #header-nav {
        flex-direction: column !important;
    }
    #replica{
        flex-direction: column !important;
    }

    h2{
        font-size: 30px !important;
    }

    .menu-item{
        padding-top: 6px !important;
        margin-bottom: 0px !important;
    }
}

@media only screen and (max-width:850px){
    #content{
        min-width: 0px !important;
        width: 100% !important;
    }

    #content-index{
        min-width: 0px !important;
        width: 100% !important;
    }

    #focus-content{
        min-width: 400px !important;
        background-position: center;
        border-left: 0px !important;
        border-right: 0px !important;
    }
    #available-content{
        min-width: 400px !important;
    }
    .content-move{
        display: none !important;
    }
    
}

body{
    top:0;
    left:0;
    margin: 0;
    height: 1080px;
    background-color:#1c1e1b;
    display: flex;
    flex-direction: column;
}

#header-nav{
    position: fixed;
    width: 100%;
    background-image: url("../resources/imgs/madera-blanca.jpg");
    min-height: 11vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background-size: 300px 300px;
    border-bottom: 2px solid black;
}

#replica{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.menu-item{
    height: 30px;
    display: flex;
    align-items: center;
    padding-top: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.logo{
    min-width: 239px;
    height: 90px;
    background-image: url("../resources/imgs/marco.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#bc8d4b;
    cursor: pointer;
    font-weight: bold;
}

h1{
    font-family: "Flow";
    font-size: 38px;
    margin-top: 0;
    margin-top: 10px;
}

h2 {
    font-family: "Brannboll";
    font-weight: 600;
    font-size: 30px;
    transition: color 0.2s, border 0.1s;
    cursor: pointer;
}

.body{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#content-background{
    width: 100%;
    height: 85vh;
    background-image: url("../resources/imgs/background-blur.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#content-index{
    min-width: 750px;
    min-height: 500px;
    display: flex;
    flex-direction: row;
}

.content-move{
    height: 100%;
    min-width: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#content{
    min-width: 690px;
    height: 500px;
}

#focus-content{
    min-width: 690px;
    height: 98%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("../resources/imgs/background.jpg");
    background-size: cover;
    border: 2px solid black;
    border-radius: 2px;
}

#target{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: rgb(0,0,0,0.8);
    min-width: 250px;
    height: 300px;
    color: white;
}

#target > h3{
    border-bottom: 2px solid white;
}


#available-content{
    min-width: 690px;
    height: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#footer{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
    background-color: black;
}

.dot-link {
    width: 10px;
    height: 10px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 7px;
    transition:background-color 0.2s;
}

.dot-link:hover{
    background-color: black;
}

.menu-item > h2:hover{
    color: #bc8d4b;
}
