@font-face {
    font-family: "Flow";
    src: url("../resources/fonts/Flow.ttf");
}

@font-face {
    font-family: "Brannboll";
    src: url("../resources/fonts/BrannbollFS.ttf");
}

@font-face {
    font-family: "JosefinSans";
    src: url("../resources/fonts/JosefinSans.ttf");
}

@media only screen and (max-width: 700px) {
    #header-nav {
        flex-direction: column !important;
        height: auto !important;
        position: static !important;
        min-height: inherit;
    }

    h2{
        font-size: 20px !important;
    }

    .menu-item{
        margin: 0px !important;
        padding: 0px !important;
    }
}

@media only screen and (max-width:850px){
    #content{
        min-width: 0px !important;
        width: 100% !important;
    }

    #content-index{
        min-width: 0px !important;
        width: 100% !important;
    }

    #focus-content{
        min-width: 400px !important;
        background-position: center;
        border-left: 0px !important;
        border-right: 0px !important;
    }
    #available-content{
        min-width: 400px !important;
    }
    .content-move{
        display: none !important;
    }

    #footer > div {
        width: 100%;
    }

}

@media only screen and (max-width:1300px){
    #header-nav {
        height: auto !important;
    }
}

body{
    top:0;
    left:0;
    margin: 0;
    height: 1080px;
    background-color:#1c1e1b;
}

/* body filter: invert(78%) sepia(9%) saturate(3040%) hue-rotate(341deg) brightness(81%) contrast(76%); */

.body{
    background-color: white;
    width: 100%;
}

#content-background{
    width: 100%;
    height: 85vh;
    background-image: url("../resources/imgs/background-blur.png");
    background-size: cover;
    border-bottom: 1px solid  rgba(0,0,0,0.2);
    
}

#content-index{
    min-width: 750px;
    min-height: 500px;
}

#previous{
    transform: rotate(270deg);
}

#next{
    transform: rotate(90deg);
}

.content-move{
    height: 100%;
    min-width: 60px;
}

#content{
    min-width: 690px;
    height: 500px;
}

#focus-content{
    min-width: 690px;
    height: 98%;

    background-image: url("../resources/imgs/background.jpg");
    background-size: cover;
    border: 0.1px solid rgba(0,0,0,0.7);
    border-radius: 2px;
}

#target{
    background-color: rgb(0,0,0,0.8);
    min-width: 250px;
    height: 300px;
    color: white;
    font-family: "JosefinSans";
    font-size: 17px;
}

#target > h3{
    font-size: 18px;
    margin-bottom: 5px;
}

#target > div {
    height: 10px;
    width: 150px;
    border-top: 2px solid white;
}

#target > span:nth-child(5) {
    color: #bc8d4b;
    font-family: "Flow";
    font-size: 23px;
    font-weight: bold;
}


#available-content{
    min-width: 690px;
    height: 2%;
}

a{
    text-decoration: none;
    color: black;
}

.dot-link {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 7px;
    transition:background-color 0.2s;
}

.current{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 7px;
    transition:background-color 0.2s;
}

.dot-link:hover{
    background-color: black !important;
}

#introduction{
    width: 100%;
    height: 1400px;
    background-color: #f6f6f6;
    box-shadow: inset 0 7px 10px -5px rgba(0,0,0,0.7);
}

#introduction > div:nth-child(1){
    width: 1200px;
    height: 50px;
    border:1px solid #bc8d4b;
    background-color: #f6f6f6;
}

#introduction > div:nth-child(1) > div {
    width: 24px;
    height: 2px;
    background-color: #2E2E2E;
    margin-bottom: 1px;
}

#introduction > div:nth-child(1) > a > img {
    transform: rotate(180deg);
    filter: invert(17%) sepia(0%) saturate(0%) hue-rotate(182deg) brightness(93%) contrast(94%);
    margin-bottom: 2px;
}

/* inversa del de arriba TODO se puede optimizar */

#introduction > div:nth-child(3){
    width: 1200px;
    height: 50px;
    border:1px solid #bc8d4b;
    background-color: #f6f6f6;
}

#introduction > div:nth-child(3) > div {
    width: 24px;
    height: 2px;
    background-color: #2E2E2E;
    margin-top: -3px;
}

#introduction > div:nth-child(3) > a > img {
    filter: invert(17%) sepia(0%) saturate(0%) hue-rotate(182deg) brightness(93%) contrast(94%);
    margin-top: 5px;
}


#article{
    width: 1200px;
    height: 1000px;
    background-color: white;
    margin-top:50px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
                0 1px 5px 0 rgba(0,0,0,0.12),
                0 3px 1px -2px rgba(0,0,0,0.2);
    padding: 20px;
}

#article > h2{
    margin
}