/* escribe rapido y furioso con esto en el html */

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.wrap{
    flex-wrap: wrap;
}

.center{
    align-items: center;
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.space-evenly{
    justify-content: space-evenly;
}

.space-around{
    justify-content: space-around;
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.left{
    text-align: left;
}

.rigth{
    text-align: right;
}

.fW{
    width: 100%;
}

.i-b{
    font-size: 30px;
}