
#footer{
    background-color: #1c1e1b;
    min-height: 100px;
    padding: 10px;
}

#footer > * {
    color: white;
}

.head{
    font-size: 20px !important;
    border-bottom: 1px solid white;
    margin-bottom: 20px !important;
}

#contacto > div{
    margin-left: 0px !important;
    margin-top: 0px !important;
    width: 100%;
}

#contacto {
    height: 120px;
    width: 350px;
}

#contacto > div > span{
    text-align: initial !important;
    margin-bottom: 0px !important;
}

#contacto > div:nth-child(1) > span{
    margin-bottom: 15px !important;
}

#contacto > div{
    align-items: center;
}

#contacto > div > span:nth-child(2){
    text-align: right !important;
}

.card-b1{
    border: 1px solid white;
    padding: 15px;
}

.flex{
    display: flex;
}

#services > div:nth-child(1){
    margin-left: 20px;
}

#services > div{
    margin-left: 40px;
}

#services > div:nth-child(3){
    margin-right: 25px;
}


audio{
    margin-bottom: 10px;
}

#info {
    border:1px solid white;
    padding: 10px;
}

#info > div > i{
    color: #17c981;
    margin-right: 15px;
}

#info > div:nth-child(2) > i {
    color: #16bb81;
}

#info > div:nth-child(3) > i {
    color: #159981;
}