#header-nav{
    position: fixed;
    width: 100%;
    min-height: 65px;
    /*background-image: url("../resources/imgs/madera-blanca.jpg");*/
    background-color:rgba(0,0,0,0.6);
    background-size: 440px 300px;
}

.menu-item{
    min-width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 150px 45px;
    background-position: center;
    background-repeat: no-repeat;
}

.logo{
    min-width: 210px;
    height: 79px;
    background-size: cover;
    color:#bc8d4b;
    cursor: pointer;
    font-weight: bold;
}

.logo > h1 {
    font-family: "Flow";
    font-size: 45px;
    margin-top: 10px;
}

.logo > h1 > a{
    color: #bc8d4b;
}

.logo > h1 > a:hover{
    text-decoration: none;
}

.menu-item > h2{
    font-family: "JosefinSans";
    font-weight: 600;
    font-size: 20px;
    transition: color 0.2s, border 0.1s;
    cursor: pointer;
    color: white;
}

.menu-item > h2:hover{
    color: #bc8d4b;
    text-shadow: 0 0 3px #fff;
}

.menu-item > h2 > a:hover{
    color: #bc8d4b !important;
    text-shadow: 0 0 3px #fff;
    text-decoration: none;
}