@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
}

details{
    margin-left: -1.55vw;
}

details:not([open])
{
    margin-right: 50px;
    margin-left: -1.55vw;
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

summary{
    outline: none;
}


#header-nav{
    position: fixed;
    width: 100%;
    min-height: 65px;
    /*background-image: url("../resources/imgs/madera-blanca.jpg");*/
    background-color:rgba(0,0,0,0.6);
    background-size: 440px 300px;
    z-index: 9999999;
}

#header-nav > div:nth-child(1){
    margin-top: 0px;
}

#header-nav > div {
    margin-top: 15px;
}

.menu-item{
    min-width: 200px;
    min-height: 50px;
    background-size: 150px 45px;
    background-position: center;
    background-repeat: no-repeat;
}

.logo{
    min-width: 210px;
    height: 79px;
    background-size: cover;
    color:#bc8d4b;
    cursor: pointer;
    font-weight: bold;
}

.logo > h1 {
    font-family: "Flow";
    font-size: 45px;
    margin-top: 10px;
}

.logo > h1 > a{
    color: #bc8d4b;
}

.logo > h1 > a:hover{
    text-decoration: none;
}

.menu-item > h2{
    font-family: "JosefinSans";
    font-weight: 600;
    font-size: 20px;
    transition: color 0.2s, border 0.1s;
    cursor: pointer;
    color: white;
}

.menu-item > h2:hover{
    color: #bc8d4b;
    text-shadow: 0 0 3px #fff;
}

.menu-item > h2 > a:hover{
    color: #bc8d4b !important;
    text-shadow: 0 0 3px #fff;
    text-decoration: none;
}