
#footer{
    background-color: #1c1e1b;
    min-height: 100px;
    padding: 10px;
}

#footer > * {
    color: white;
}

#footer > div {
    border:2px solid white;
    padding: 10px;

}

#footer > div > div {
    margin-left: 40px;
    margin-top: 10px;
}

#footer > div > div:nth-child(3){
    margin-right: 40px;
}

#footer > div > div > span {
    font-size: 15px;
    font-family: "JosefinSans";
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.head{
    font-size: 20px !important;
    border-bottom: 1px solid white;
    margin-bottom: 20px !important;
}